<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1></h1>
  <h1>Pokemon vs NBA Player 1v1</h1>
  <ul>
    <li>
        Hi! Have you ever wondered if your favorite pokemon could beat your favorite basketball player in a 1v1? Well now you can find out!
        <a href="/form">Which one</a>
        <a href="/wrong">is the correct</a>
        <a href="/wrong">link?</a>
    </li>
  </ul>
</body>
</html>
